img {
	width: 100%;
	height: 100%;
	padding:2% 0;
}

div, h1, h2, #x {
	text-align: center;
}

p {
    font-size: 150%;
}

#rgbtab{
	float:left;
}

#prdtab{
	float:center;
}

#scrollable{
	float:right;
	
}

.pre-scrollable{
	max-height:540px;
	
}

.row,.container{
	width:100%;
}

.loader {
	float: left;
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
	margin: 2% 46%;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
