{% extends "header.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashBoard.css')}}">
{% endblock %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <h1>{{camera.nome}} </h1>
    <h2>Stato Camera: {{camera.state}}</h2>
    <h2 id="x">{{aula.nome}}</h2>

	<div class="container">
		<div class="row">
			<div id="rgbtab" class="col-sm-5">
				<div>
					<h3 id = "under2">RGB Image</h3>
					<p>
						<img class="rounded" id="img1" src="{{ url_for('static', filename=image.pathRGB) }}" width="580" height="320">
					</p>
				</div>
			</div>
			<div id="prdtab" class="col-sm-5">
				<div>
					<h3 id = "under2">Prediction Image</h3>
					<p>
						<img class="rounded" id="img2" src="{{ url_for('static',filename=image.pathPRD) }}" width="580" height="320">
					</p>
					
				</div>
			</div>
			<h3 id = "under2">History</h3>
			<div id="scrollable" class="pre-scrollable col-sm-2">
				{% for image in images %}
				<a href="?photo={{image.id}}&camera={{image.camera_id}}">
					<img class="rounded" id="img2" src="{{ url_for('static', filename=image.pathRGB) }}" width="580" height="320">
				</a>
				{% endfor %}
			</div>
		</div>
        <div class="row">
            <div id="rgbtab" class="col-sm-10">
                <p>{{date}}</p>
                <p>People: {{value}}</p>
            </div>
        </div>
		
		
	</div>

{% endblock %}
