{% extends "header.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashBoard.css')}}">
{% endblock %}
{% block scripts %}
{{super()}}	

{% endblock %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <h1>{{camera.nome}} </h1>
    <h2>Stato Camera: {{camera.state}}</h2>
    <h2 id="x">{{aula.nome}}</h2>

	<div class="container">
        <div class="row">
            <div class="col-sm-12">
			    <form action="/">
                    Start: <input id="start" type="date" name="start" required>
                    End: <input id="end" type="date" name="end" required>
                    <input id="button" type="button" value="Send">
                </form>
				
			</div>
        </div>
		<br/>
		<div class="row">
			<div class="col-sm-12" id="dropwdown">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 loader">
			</div>
		</div>
        <div class="row">	
            <div id = "cont" class="col-sm-12">	
			    <canvas id="myChart"></canvas>
			    
            </div>
        </div>
<script>
$(document).ready(function(){
	$(".loader").hide();
	
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10){
		dd='0'+dd
	} 
	if(mm<10){
		mm='0'+mm
	}
	today = yyyy+'-'+mm+'-'+dd;
	document.getElementById("start").setAttribute("max", today);
	document.getElementById("end").setAttribute("max", today);
	
	document.getElementById("start").addEventListener("change", function() {
		document.getElementById("end").setAttribute("min", document.getElementById("start").value);
	});
	document.getElementById("end").addEventListener("change", function() {
		document.getElementById("start").setAttribute("max", document.getElementById("end").value);
	});
	
    document.getElementById("button").addEventListener("click", button);
    //buttonDay();

    function button() {
		$("#dropwdown").hide();
		$(".loader").show();
        var start = $("#start").val();
        var end = $("#end").val();
		
        document.getElementById("cont").innerHTML = '&nbsp;';
	    document.getElementById("cont").innerHTML = '<canvas id="myChart"></canvas>';
        var ctx = document.getElementById('myChart').getContext('2d');
		$.get('/subjects?aula={{aula.id}}&dataInizio='+start+'&dataFine='+end, {
                    
            }).done(function(response) {
				string = "<label>Seleziona la materia: <select id=\"materie\"><option id = Tutte selected=selected> Tutte </option>"
				for(var materia in response.subjects){
					string += "<option id=\""+ response.subjects[materia] +"\">"+ response.subjects[materia] +"</option>";
				}
				string += "</select></label>"
				$(".loader").hide();
				$("#dropwdown").html(string)
				$("#dropwdown").show();
				
				
				$("#materie").on( "change", function(){
					$(".loader").show();
					id = $(this).children("option:selected").attr('id');
					mat(start,end,id)
				});
		
            }).fail(function() {
                console.log("FALLITO GET SUBJECT");
        });
		$("#myChart").html = "";
       
	    $.get('/fetchData?start='+start+'&end='+end+'&camera_id='+{{camera.id}}+'&materia=Tutte', {
                    
            }).done(function(response) {
				console.log(response);
                var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
	        
                // The data for our dataset
                data: {
                    labels: response.scoresInterval,
                    datasets: [{
						
                        label: 'Persone in Aula',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: response.scoresResult
                    }]
                },

                // Configuration options go here
                options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					}
				}
            });
	    
            }).fail(function() {
                console.log("FALLITO GET DATA");
        });
    }
	
	function mat(start,end,id){
		console.log(id)
		console.log(start)
		console.log(end)
		
		document.getElementById("cont").innerHTML = '&nbsp;';
	    document.getElementById("cont").innerHTML = '<canvas id="myChart"></canvas>';
        var ctx = document.getElementById('myChart').getContext('2d');

		$.get('/fetchData?start='+start+'&end='+end+'&camera_id='+{{camera.id}}+'&materia='+id, {
                    
            }).done(function(response) {
				console.log(response);
				$(".loader").hide();
                var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
	        
                // The data for our dataset
                data: {
                    labels: response.scoresInterval,
                    datasets: [{
						
                        label: 'Persone in Aula',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: response.scoresResult
                    }]
                },

                // Configuration options go here
                options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					}
				}
            });
	    
            }).fail(function() {
                console.log("FALLITO GET DATA");
        });
    }
	
	
});	




</script>
		
	</div>

{% endblock %}
