{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% block styles -%}
    {{super()}} 
    
{% endblock %}		

{% block navbar %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <ul class="nav nav-tabs">
 
			<li>
				<a href="{{ url_for('index') }}">Home</a>
			</li>
			{% if current_user.is_anonymous %}
				<li>
					<a href="{{ url_for('login') }}">Login</a>
				</li>
			{% else %}
			<li>
				<a href="{{ url_for('logout') }}">Logout</a>
			</li>
		
			{% endif %}
</ul>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
{% endblock %}
 {% block content %}
 {% endblock %}
