{% extends "header.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashBoard.css')}}">
{% endblock %}
{% block content %}
	<script src="static/index.js"></script>
	
    <div class="container">
        <div class="row">
			<div id="rgbtab" class="col-sm-12">
                <h1>Ciao, {{ current_user.username }}!</h1>
                <h2>Seleziona cosa desideri vedere</h2>
            </div>
        </div>
		<div class="row d-flex justify-content-center">
            <div id="rgbtab" class="col-sm-2">
            </div>
			<div id="rgbtab" class="col-sm-4">
	            <form action="./" method="post">
                    <fieldset>
                        <legend>Storico Immagini</legend>
		                <label class="input-group">Seleziona Aula
			                <select id="immagini" name="aula">
								<option id = "null" value="" selected="selected"> - </option>
				                {% for aula in aule %}
					                <option id = "{{aula.id}}"> {{aula.nome}}</option>
				                {% endfor %}
			                </select>
		                </label>
                    </fieldset>
	            </form>
                <div id = "buttonContainerImgs">
                </div>
            </div>
            <div id="rgbtab" class="col-sm-4">
                <form action="./" method="post">
                    <fieldset>
                        <legend>Grafici</legend>
		                <label class="input-group">Seleziona Aula
			                <select id="grafici" name="aula">
								<option id = "null" value="" selected="selected"> - </option>
				                {% for aula in aule %}
					                <option id = "{{aula.id}}"> {{aula.nome}}</option>
				                {% endfor %}
			                </select>
		                </label>
                    </fieldset>
	            </form>    
	            <div id = "buttonContainerGraphs">
	            </div>
            </div>
        </div>
    </div>
{% endblock %}
