{% extends "header.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashBoard.css')}}">
{% endblock %}
{% block scripts %}
{{super()}}	

{% endblock %}
{% block content %}
    <h1>Intel Realsense Camera</h1>
    <h2 id="x">Classroom 2.6</h2>

	<div class="container">
		<div class="row">
			<div id="rgbtab" class="col-sm-5">
				<div>
					<h3 id = "under2">RGB Image</h3>
					<p>
						<img class="rounded" id="img1" src="{{ url_for('static', filename=image.path) }}" width="580" height="320">
					</p>
				</div>
			</div>
			<div id="prdtab" class="col-sm-5">
				<div>
					<h3 id = "under2">Prediction Image</h3>
					<p>
						<img class="rounded" id="img2" src="{{ url_for('static', filename=image2.path) }}" width="580" height="320">
					</p>
					
				</div>
			</div>
			<h3 id = "under2">History</h3>
			<div id="scrollable" class="pre-scrollable col-sm-2">
				{% for image in images %}
				<a href="?timestamp={{image.timestamp}}">
					<img class="rounded" id="img2" src="{{ url_for('static', filename=image.path) }}" width="580" height="320">
				</a>
				{% endfor %}
			</div>
		</div>
        <div class="row">
            <div id="rgbtab" class="col-sm-10">
                <p>{{date}}</p>
                <p>People: {{value}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
			    <button id="day" type="button" class="btn btn-primary">Day</button>
			    <button id="week" type="button" class="btn btn-primary">Week</button>
			    <button id="month" type="button" class="btn btn-primary">Month</button>
			    <button id="year" type="button" class="btn btn-primary">Year</button>
			</div>
        </div>
        <div class="row">	
            <div class="col-sm-12">	
			    <canvas id="myChart"></canvas>
			    <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
<script>
$(document).ready(function(){
    document.getElementById("day").addEventListener("click", buttonDay);
    //buttonDay();

    function buttonDay() {
        document.getElementById("day").disabled = true;
        document.getElementById("week").disabled = false;
        document.getElementById("month").disabled = false;
        document.getElementById("year").disabled = false;

        var ctx = document.getElementById('myChart').getContext('2d');
	    var dati = [];
        var i = 0;
       
	    $.get('/fetchData', {
                    
            }).done(function(response) {
                for (var x in response.scores) {
                    dati[i] = response.scores[x];
                    i++;
                }
                console.log(dati);

                var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
	        
                // The data for our dataset
                data: {
                    labels: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18'],
                    datasets: [{
                        label: 'Persone in Aula',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: dati
                    }]
                },

                // Configuration options go here
                options: {}
            });
	    
            }).fail(function() {
                console.log("FALLITO");
        });
    }
});	

</script>
		
	</div>

{% endblock %}
