{% extends "header.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='kinect.css')}}">
{% endblock %}
{% block content %}
    <h1>Kinect Camera</h1>
    <h2 id="x">Classroom 2.6</h2>

	<div class="container">
		<div class="row">
			<div id="rgbtab" class="col-sm-5">
				<div>
					<h3 id = "under2">RGB Image</h3>
					<p>
						<img class="rounded" id="img1" src="{{ url_for('static', filename=image.path) }}" width="580" height="320">
					</p>
				</div>
			</div>
			<div id="prdtab" class="col-sm-5">
				<div>
					<h3 id = "under2">Prediction Image</h3>
					<p>
						<img class="rounded" id="img2" src="{{ url_for('static', filename=image2.path) }}" width="580" height="320">
					</p>
					
				</div>
			</div>
			<h3 id = "under2">History</h3>
			<div id="scrollable" class="pre-scrollable col-sm-2">
				{% for image in images %}
				<a href="?timestamp={{image.timestamp}}">
					<img class="rounded" id="img2" src="{{ url_for('static', filename=image.path) }}" width="580" height="320">
				</a>
				{% endfor %}
			</div>
		</div>
        <div class="row">
            <div id="rgbtab" class="col-sm-10">
                <p>{{date}}</p>
                <p>People: {{value}}</p>
            </div>
        </div>
		
		
	</div>

{% endblock %}
