{% extends "header.html" %}

{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Effettua il Login</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
		
		 <!-- <p>Nuovo Utente? <a href="{{ url_for('register') }}">Clicca qui per registrarti!</a></p> -->
    </form>
  </div>
</div>
{% endblock %}